---
layout: layout.njk
herosmall: true
showregisterbutton: false
bodyclass: page-countdown
---
<div class="sg-c">
	<div class="sg-component-full">
		<div class="countdown"></div>
		<p><a href="/">GET CONF 2019</a>. Modeled after the <a href="https://duckduckgo.com/?q=nasa+countdown+clock&t=ffab&atb=v101-3&iax=images&ia=images">NASA Countdown Clock</a>. Photo by <a href="https://unsplash.com/@spacex">SpaceX</a></p>
	</div>
</div>
{% include "countdown-script.njk" %}