---
layout: layout.njk
herosmall: true
showregisterbutton: false
bodyclass: page-countdown
---
<div class="sg-c">
	<div class="sg-component-full">
		<div class="countdown"></div>
		<p><a href="/">NEJS CONF 2018</a>. Modeled after the <a href="https://duckduckgo.com/?q=nasa+countdown+clock&t=ffab&atb=v101-3&iax=images&ia=images">NASA Countdown Clock</a>. Photo by <a href="https://unsplash.com/@spacex">SpaceX</a></p>
	</div>
</div>
<script>
var countdown = document.querySelector(".countdown");
var nejsconfTime = new Date("2018-07-27T13:00:00Z").getTime();

function renderTime(date) {
	var secondsDiff = (nejsconfTime - date.getTime()) / 1000;
	var hours = Math.floor(secondsDiff / (60*60));
	var minutes = Math.floor(secondsDiff % (60*60) / 60);
	var seconds = Math.floor(secondsDiff % 60);

	return (secondsDiff > 0 ? '<span class="minus">-</span>' : "") +
		'<span class="hours">' + (hours < 10 ? "0" : "") + hours + '</span>' +
		':<span class="minutes">' + (minutes < 10 ? "0" : "") + minutes + '</span>' +
		':<span class="seconds">' + (seconds < 10 ? "0" : "") + seconds + "</span>";
}

setInterval(function() {
	countdown.innerHTML = renderTime(new Date());
}, 1000);
</script>
