---
layout: layout.njk
---


<div class="sg-c">
	<div class="sg-component">
		<p class="hero-quote icon icon-aperature"> Gender Equity in Tech Conf, GET CONF for short, is a one-day tech conference by women, for everyone. To amplify and celebrate the voices of women and non-men, and educate and connect people of all genders.</p>
			<div class="hero-quote">
					<h4>What we mean when we say "gender equity"</h4>

					<p>You're probably familiar with the concept of equality, which basically means giving everyone the same (equal) access to resources and opportunity.</p>
					
					<p>Equity on the other hand, involves a more holistic approach that takes into account factors like historical context, systemic biases, privilege and other things beyond individual control that may impact someone's ability to achieve success. Instead of assuming that given the same set of resources all people will be able to succeed, equity is about realizing that due to extenuating circumstances it's more appropriate to meet individuals where they are. Equity means giving people the resources they need to succeed as an individual, and accounts for the fact that for some in groups that have been historically disadvantaged it may take additional resources.</p>
					
					<p><i>Another way to think about it:</i></br>
					It's not enough to have a seat at the dinner table if no one offers you a plate or food to actually partake in the meal.
					</p></div>
	</div>
</div>
<div class="sg-c">
	<div class="sg-component">
		<div class="info-block-group">
			<div class="info-block info-block-teal lazy">
				<h2 >Friday April 26, 2019</h2>
				<p>Omaha, Nebraska</p>
				<p>At the <a href="https://mccneb.edu/Community-Business/Buildings-Expansions/Fort-Omaha-Campus-Construction/Center-for-Advanced-and-Emerging-Technology.aspx">Center for Advanced and Emerging Technology</a></p>
			</div>
			<div class="info-block info-block-purple lazy">
				<h2>Conference Passes Include:</h2>
				<ul>
					<li>16 industry-leading women and gender-expansive speakers</li>
					<li>Lunch and Snacks</li>
					<li>Iintentional networking opportunities over the course of the day</li>
					<li>A safe and inclusive environment to learn</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="sg-component">
		<h2 id="speakers" class="group-hed">Speakers</h2>
		{% include "components/speakers.njk" %}
	</div>

	<div class="sg-component">
		<h2 id="dates" class="group-hed group-hed-r">Dates</h2>
		<h2 class="info-highlight info-highlight-b">October — November 2018</h2>
		<p>CFP Submissions were received!</p>
		<h2 class="info-highlight info-highlight-b">November - December 2018</h2>
		<p>GET CONF Speaker Selection</p>
		<h2 class="info-highlight info-highlight-b">January 30</h2>
		<p><strong>Early Bird</strong> Tickets are now available for $70—<a href="https://www.example.com/">Register for GET CONF today</a>!</p>
		<h2 class="info-highlight info-highlight-b">February 15</h2>
		<p><strong>Last day for Early Bird</strong> Tickets are now available for $70—<a href="https://www.example.com/">Register for GET CONF today</a>!</p>
		
		<h2 class="info-highlight info-highlight-b">April 26</h2>
		<p><strong>GET CONF!</strong></p>
	</div>

	<div class="sg-component">
		<h2 id="venue" class="group-hed">Venue</h2>
	</div>
	<div class="sg-component-full">
		{% include "components/venue.njk" %}
	</div>
	<div class="sg-component">
		<div class="hero-quote-c hero-quote-c-venue">
			<div class="hero-quote icon icon-aperature">
				<p><a href="https://mccneb.edu/Community-Business/Buildings-Expansions/Fort-Omaha-Campus-Construction/Center-for-Advanced-and-Emerging-Technology.aspx">Center for Advanced and Emerging Technology</a> .</p>
			</div>
		</div>
	</div>

	<div class="sg-component">
		{% include "components/a11y.njk" %}
	</div>

	<div class="sg-component">
		<h2 id="sponsors" class="group-hed group-hed-r">Sponsored By</h2>
		{% include "components/sponsors.njk" %}
	</div>

	<div class="sg-component">
		<h2 id="schedule" class="group-hed group-hed-l">Schedule</h2>
		{% include "components/schedule.njk" %}
	</div>

	<div class="sg-component">
		<div class="hero-quote-c hero-quote-c-coc">
			<div class="hero-quote">
				<a href="https://www.example.com/" class="icon icon-twitter" aria-label="Twitter"></a>
				<h3>Code of Conduct</h3>
				<p>We want a safe environment for all of our staff, speakers, sponsors, and attendees. All conference participants must abide by our <a href="{{ "/code-of-conduct/" | url }}">Code of Conduct</a>.</p>
			</div>
		</div>
	</div>
</div>

