---
layout: layout.njk
---

<div class="sg-c">
	<div class="sg-component-full">
		<a href="/countdown/" class="countdown"></a>
	</div>
</div>
<div class="sg-c">
	<div class="sg-component">
		<div class="hero-quote-c">
			<div class="hero-quote icon icon-telescope">
				<p><strong>Welcome!</strong> If you haven’t arrived yet at the conference, you’re probably looking for the <a href="/venue/">Venue</a>! We’re at the Scott Recital Hall in the <a href="https://omahaperformingarts.org/our-venues/holland">Holland Performing Arts Center</a> at <strong>1200 Douglas Street</strong>. Here’s a <a href="https://goo.gl/maps/YbW3Cwn3zGo">Map</a>.</p>
			</div>
		</div>
	</div>

	<div class="sg-component">
		<h2 id="schedule" class="group-hed group-hed-l">Schedule</h2>
		{% include "components/schedule.njk" %}
	</div>

	<div class="sg-component">
		<h2 id="code-of-conduct" class="group-hed"><a href="{{ "/code-of-conduct/" | url }}">Code of Conduct</a></h2>
	</div>

	<div class="sg-component">
		<h2 id="speakers" class="group-hed"><a href="/speakers/">Speakers</a></h2>
	</div>

	<div class="sg-component">
		<h2 id="venue" class="group-hed"><a href="/venue/">Venue</a></h2>
	</div>

	<div class="sg-component">
		<h2 id="dates" class="group-hed"><a href="/dates/">Important Dates</a></h2>
	</div>

	<div class="sg-component">
		<h2 id="sponsors" class="group-hed">Sponsored By</h2>
		{% include "components/sponsors.njk" %}
	</div>

	<div class="sg-component">
		<div class="hero-quote-c hero-quote-c-coc">
			<div class="hero-quote">
				<a href="https://twitter.com/nejsconf" class="icon icon-twitter" aria-label="Twitter"></a>
				<h3>Code of Conduct</h3>
				<p>We want a safe environment for all of our staff, speakers, sponsors, and attendees. All conference participants must abide by our <a href="{{ "/code-of-conduct/" | url }}">Code of Conduct</a>.</p>
			</div>
		</div>
	</div>
</div>

<script>{% include "countdown.js" %}</script>
<script>{% include "serviceworker.js" %}</script>