---
pagination:
  data: speakers
  size: 1
  alias: speaker
permalink: /speakers/{{ speaker.twitter }}/
layout: layout.njk
herosmall: true
hideSponsorCTA: true
---
<div class="sg-c">
	<div class="sg-component">
		<div class="speakerpage">
			<img src="{{ speaker.avatar_url }}" alt="{{ speaker.name }}" class="speakerpage-avatar">
			<h1>{{ speaker.title }}</h1>
			<h2>{{ speaker.name }}{% if speaker.keynote %}, Keynote{% endif %}</h2>

			<dl>
	{% if speaker.twitter_real%}
				<dt>Twitter</dt>
				<dd><a href="https://twitter.com/{{ speaker.twitter_real }}">@{{ speaker.twitter_real }}</a></dd>
	{% endif %}
	{% if speaker.linked_in%}
				<dt>Linkedin</dt>
				<dd><a href="https://www.linkedin.com/in/{{ speaker.linked_in }}">{{ speaker.linked_in }}</a></dd>
	{% endif %}
	{% if speaker.website%}
				<dt>Website</dt>
				<dd><a href="{{ speaker.website }}">{{ speaker.website }}</a></dd>
	{% endif %}
	{% if speaker.bio %}
				<dt>Bio</dt>
				<dd>{{ speaker.bio | safe }}</dd>
	{% endif %}
	{% if speaker.time %}
				<dt>Talk Time</dt>
				<dd>{{ speaker.time }}</dd>
	{% endif %}
	{% if speaker.talk %}
				<dt>{% if speaker.keynote %}Keynote {% endif %}Talk Description</dt>
				<dd>{{ speaker.talk | safe }}</dd>
	{% endif %}
			</dl>
		</div><!-- /speakerpage -->
	</div>
	<div class="sg-component sg-component-full sg-component-dark">
		<h2 class="hero-register"><a href="https://www.example.com" class="btn-primary">Register <span>for GET CONF</span></a></h2>
	</div>
	<div class="sg-component">
		<h2 id="speakers" class="group-hed">Speakers</h2>
		<div class="speaker-list">
{% for speaker in speakers %}
			{% set speakerPageUrl %}/speakers/{{ speaker.twitter }}/{% endset %}
			<a href="{{ speakerPageUrl | url }}" class="speaker speaker-sm{% if speakerPageUrl == page.url %} speaker-active{% endif %}">
				<img src="{{ speaker.avatar_url }}" alt="{{ speaker.name }}" class="speaker-img">
				<h3 class="speaker-name">{{ speaker.name }}</h3>
			</a>
{% endfor %}
		</div>
	</div>
	<div class="sg-component">
		<h2 id="sponsors" class="group-hed group-hed-r">Sponsored By</h2>
		{% include "components/sponsors.njk" %}
	</div>
</div>