<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NEJS CONF 2018{% if title %}—{{ title }}{% endif %}</title>
{% set css %}{% include "theme.css" %}{% endset %}
{% set js %}{% include "script.js" %}{% endset %}
		<link rel="preload" href="/assets/img/earth-nobg-crop.png" as="image" />
		<style>{{ css | cssmin | safe }}</style>
		<script>{{ js | jsmin | safe }}</script>
	</head>
	<body>
		{{ content | safe }}
		<script async defer src="https://unpkg.com/st-img@0.3.0/dist/stimg.js"></script>
	</body>
</html>
