<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NEJS CONF 2018{% if title %}—{{ title }}{% endif %}</title>
		<style>{% include "theme.css" %}</style>
		<style>{% include "styleguide.css" %}</style>
		<script>
		// TypeKit
		;(function( d ) {
			var config = {
				kitId: 'ppn2vqj',
				scriptTimeout: 3000
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		})( document );
		</script>
	</head>
	<body>
		<div class="sg-c">
			<div class="sg-component-full">
				<div class="hero">
					<div class="hero-img"></div>
					<div class="hero-title">
						<img src="/assets/img/lander.svg" class="hero-title-lander" alt="Lander Module">
						<h1 class="hero-title-text"><span>NEJS</span> <span>CONF</span> <span class="hero-title-year">2018</span></h1>
					</div>
				</div>
			</div>
		</div>
		{{ content | safe }}
	</body>
</html>