---
showregisterbutton: true
showfooter: true
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GET CONF 2018{% if title %}—{{ title }}{% endif %}</title>
{% set css %}{% include "theme.css" %}{% endset %}
{% set js %}{% include "script.js" %}{% endset %}
		<link rel="preload" href="/assets/img/earth-nobg-crop.png" as="image" />
		
		<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

		<style>{{ css | cssmin | safe }}</style>
		<script>{{ js | jsmin | safe }}</script>
		<meta property="og:title" content="GET CONF 2019{% if title %}—{{ title }}{% endif %}" />

		<meta name="description" content="{% if speaker.name %}{{ speaker.name }} is speaking at GET CONF! {% endif %}GET CONF is a one-day tech conference by women, for everyone. To amplify and celebrate the voices of women and non-men, and educate and connect people of all genders.">
		<meta name="twitter:description" property="og:description" content="{% if speaker.name %}{{ speaker.name }} is speaking at GET CONF! {% endif %}GET CONF is a one-day tech conference by women, for everyone. To amplify and celebrate the voices of women and non-men, and educate and connect people of all genders.">

		<meta name="twitter:url" property="og:url" content="https://2019.getconf.com{{ page.url }}">
		<meta name="twitter:image" property="og:image" content="https://2019.getconf.com{% if speaker.social_avatar_url %}{{ speaker.social_avatar_url }}{% else %}/assets/img/opengraph.png{% endif %}">
		<meta name="twitter:image:alt" property="og:image:alt" content="{% if speaker.name %}{{ speaker.name }} at {% endif %}GET CONF 2018">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@GETConfOmaha">
		<meta name="twitter:creator" content="@GETConfOmaha">

		<meta property="og:type" content="website">
		<meta property="og:site_name" content="GET CONF 2019">
		<meta property="og:locale" content="en_US">
		<meta property="og:image:width" content="1180">
		<meta property="og:image:height" content="590">
	</head>
	<body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
{% if skipHero -%}
{% else -%}
		<div class="sg-c">
			<div class="sg-component-full">
				{% include "components/hero.njk" %}
			</div>
		</div>
{% endif -%}

		{{ content | safe }}

{% if showfooter %}
		<footer>
			<div class="sg-c">
{% if showregisterbutton %}
				<div class="sg-component sg-component-full sg-component-dark">
					<h2 class="hero-register"><a href="https://www.example.com" class="btn-primary">Register <span>for GET CONF</span></a></h2>
				</div>
{% endif %}
				<div class="sg-component">
					<p>©2019 <a href="https://twitter.com/nejsconf/lists/nejs-conf-organizers/members">GET CONF Organizers</a></p>
				</div>
			</div>
		</footer>
{% endif %}
{% set imgJs %}{% include "images.js" %}{% endset %}
		<script>{{ imgJs | jsmin | safe }}</script>
	</body>
</html>
