<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NEJS CONF 2018{% if title %}—{{ title }}{% endif %}</title>
{% set css %}{% include "theme.css" %}{% endset %}
{% set js %}{% include "script.js" %}{% endset %}
		<link rel="preload" href="/assets/img/earth-nobg-crop.png" as="image" />
		<style>{{ css | safe }}</style>
		<script>{{ js | safe }}</script>
		<meta property="og:title" content="NEJS CONF 2018{% if title %}—{{ title }}{% endif %}" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="NEJS Conf is a single day, single track conference dedicated to web development and JavaScript." />
		<meta property="og:image" content="/assets/img/opengraph.png" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@nejsconf" />
	</head>
	<body>
{% if skipHero -%}
{% else -%}
		<div class="sg-c">
			<div class="sg-component-full">
				{% include "components/hero.njk" %}
			</div>
		</div>
{% endif -%}

		{{ content | safe }}

{% set imgJs %}{% include "images.js" %}{% endset %}
		<script>{{ imgJs | jsmin | safe }}</script>
	</body>
</html>
