/* Global */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* Web Fonts */
.wf-effra-i9-active body {
	font-family: Effra, sans-serif;
}

/* Hero */
.hero {
	display: flex;
	justify-content: flex-start;
	position: relative;
	background-image: url(/assets/img/space-bg.png);
	background-color: #24302d;
}
.hero-img {
	width: 60%;
	max-width: 28.125rem; /* 450px /16 */
	background-image: url(/assets/img/earth-nobg-crop.png);
	background-size: cover;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.hero-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex: 1;
	padding: 3.5em 1.5em;
	z-index: 2;
}
.hero-title-lander {
	width: 100%;
	height: 7em;
}
.hero-title-text {
	text-align: center;
	color: #fff;
	font-size: 5rem; /* 80px /16 */
	margin: 0;
}
.hero-title-text span {
	display: block;
}
.hero-title-text span:first-child {
	font-size: 5.5rem; /* 88px /16 */
	margin-bottom: -0.25em; /* -22px /88 */
}
.hero-title-text span:first-child + span {
	margin-bottom: -0.575em; /* -46px /80 */
}
.hero-title-year {
	font-size: 2rem; /* 32px /16 */
	background-color: #fcec31;
	color: #2d2225;
	font-weight: 400;
	letter-spacing: 6px;
	padding-left: 14px;
	padding-right: 8px;
}
.hero-title-text .hero-title-year {
	display: inline-block;
	margin-bottom: 0;
}
@media (max-width: 47.9375em) { /* 767px */
	.hero-img {
		width: 40%;
	}
	.hero-title-lander {
		height: 5em;
	}
	.hero-title-text {
		font-size: 3.75rem; /* 60px /16 */
	}
	.hero-title-text span:first-child {
		font-size: 4.25rem; /* 68px /16 */
	}
	.hero-title-year {
		font-size: 1.5rem; /* 24px /16 */
	}
}

/* Hero quote */
.hero-quote-c {
	padding: 6em 0;
	border-top: 2px solid #29332d;
	border-bottom: 2px solid #29332d;
}
.hero-quote {
	position: relative;
	font-size: 1.5rem; /* 24px /16 */
	margin: 0 auto;
	max-width: 33rem; /* 528px /16 */
	min-height: 3em;
	line-height: 1.5;
}
.hero-quote:before {
	content: "";
	display: inline-block;
	float: left;
	width: 3.666666666667em; /* 88px /24 */
	min-height: 3em;
	background-image: url(/assets/img/moon.png);
	background-size: 60px 60px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: .5em;
	margin-bottom: 0;
}
@media (min-width: 400px) {
	.hero-quote {
		padding-left: 6.25em; /* 150px /24 */
	}
	.hero-quote:before {
		position: absolute;
		left: 0;
		top: -10px;
		bottom: -10px;
		margin-right: 1em;
		border-right: 8px solid #231f20;
	}
}

/* Yellow Highlight Text */
.info-highlight {
	display: inline-block;
	font-size: 1.5rem; /* 24px /16 */
	background-color: #fcec31;
	color: #2d2225;
	font-weight: 400;
	padding: 0 0.3333333333333em; /* 8px /24 */
	margin: 0;
	margin-left: -0.3333333333333em; /* -8px /24 */
}

/* Info Block */
.info-block-group {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.info-block {
	padding: 5em 3.5em;
	color: #fff;
	background-color: #29332d;
}