/* Global */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* Web Fonts */
.wf-effra-i9-active body {
	font-family: Effra, sans-serif;
}

/* Colors */
.yellow {
	background-color: #fcec31;
}
.dark-gray {
	background-color: #2b332d;
}
.dark-gray-b {
	background-color: #231f20;
}

/* Icons */
span.icon {
	display: inline-block;
}
.icon-block {
	display: block;
	text-align: center;
	pointer-events: none;
}
.icon::before {
	content: "";
	display: inline-block;
	min-width: 60px;
	min-height: 60px;
	background-position: 50% 50%;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	pointer-events: all;
}
.icon-moon::before {
	background-image: url({{ "/assets/img/moon.svg" | url }});
}
.icon-telescope::before {
	background-image: url({{ "/assets/img/telescope.svg" | url }});
}
.icon-facebook::before {
	background-image: url({{ "/assets/img/facebook.svg" | url }});
}
.icon-facebook:active::before,
.icon-facebook:hover::before,
.icon-facebook-active::before {
	background-image: url({{ "/assets/img/facebook-active.svg" | url }});
}

.icon-twitter::before {
	background-image: url({{ "/assets/img/twitter.svg" | url }});
}
.icon-twitter:active::before,
.icon-twitter:hover::before,
.icon-twitter-active::before {
	background-image: url({{ "/assets/img/twitter-active.svg" | url }});
}

/* Hero */
.hero {
	display: flex;
	justify-content: flex-start;
	position: relative;
	background-image: url({{ "/assets/img/space-bg.png" | url }});
	background-color: #2b332d;
	margin-bottom: 2rem; /* 32px /16 */
	min-height: 80vh;
}
.hero-sm {
	min-height: 0;
}
.hero-img {
	width: 60%;
	max-width: 34.375rem; /* 550px /16 */
	background-image: url({{ "/assets/img/earth-nobg-crop.png" | url }});
	background-size: cover;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.hero-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	padding: 3.5em 1.5em;
	z-index: 2;
}
.hero-title-lander {
	width: 100%;
	height: 7em;
}
.hero-title-text {
	text-align: center;
	color: #fff;
	font-size: 5rem; /* 80px /16 */
	margin: 0;
}
.hero-title-text span {
	display: block;
}
.hero-title-text span:first-child {
	font-size: 5.5rem; /* 88px /16 */
	margin-bottom: -0.25em; /* -22px /88 */
}
.hero-title-text span:first-child + span {
	margin-bottom: -0.575em; /* -46px /80 */
}
.hero-title-year {
	font-size: 2rem; /* 32px /16 */
	background-color: #fcec31;
	color: #231f20;
	font-weight: 400;
	letter-spacing: 6px;
	padding-left: 14px;
	padding-right: 8px;
}
.hero-title-text .hero-title-year {
	display: inline-block;
	margin-bottom: 0;
}
.hero-register {
	text-align: center;
}
@media (max-width: 47.9375em) { /* 767px */
	.hero-title-lander {
		height: 5em;
	}
	.hero-title-text {
		font-size: 3.75rem; /* 60px /16 */
	}
	.hero-title-text span:first-child {
		font-size: 4.25rem; /* 68px /16 */
	}
	.hero-title-year {
		font-size: 1.5rem; /* 24px /16 */
	}
}

/* Hero quote */
.hero-quote-c {
	padding: 6em 0;
	border-top: 2px solid #2b332d;
	border-bottom: 2px solid #2b332d;
	margin-bottom: 2rem; /* 32px /16 */
}
.hero-quote-c-coc {
	border: 0;
}
.hero-quote {
	position: relative;
	font-size: 1.5rem; /* 24px /16 */
	margin: 0 auto;
	max-width: 33rem; /* 528px /16 */
	min-height: 3em;
	line-height: 1.5;
	padding-left: 2em;
}
.hero-quote > a[href].icon,
.hero-quote::before {
	content: "";
	position: absolute;
	left: 8px;
	bottom: 0;
	margin-right: 1em;
	margin-bottom: 0;
}
.hero-quote > a[href].icon {
	top: 50%;
	transform: translateY(-50%);
}
.hero-quote::before {
	top: 0;
	border-right: 8px solid #231f20;
	min-width: 0;
}
.hero-quote h1,
.hero-quote h2,
.hero-quote h3 {
	margin: 0;
	text-transform: uppercase;
}
.hero-quote p {
	margin-top: 0;
}
@media (max-width: 37.4375em) {
	.hero-quote > a[href].icon {
		top: auto;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 150%);
	}
	.hero-quote::before,
	.hero-quote:hover::before,
	.hero-quote:active::before {
		background-image: none;
	}
}
@media (min-width: 37.5em) {
	.hero-quote {
		padding-left: 6.25em; /* 150px /24 */
	}
	.hero-quote::before {
		left: 0;
		top: -10px;
		bottom: -10px;
		width: 3.666666666667em; /* 88px /24 */
		min-height: 3em; /* 72px /24 */
	}
}

/* Yellow Highlight Text */
.info-highlight {
	display: inline-block;
	font-size: 1.5rem; /* 24px /16 */
	background-color: #fcec31;
	color: #231f20;
	font-weight: 700;
	padding: 0 0.3333333333333em; /* 8px /24 */
	margin: 0;
	margin-left: -0.3333333333333em; /* -8px /24 */
}

.info-highlight-b {
	font-weight: 700;
	text-transform: uppercase;
}

/* Info Block */
.info-block-group {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}
.info-block {
	padding: 5em 8%;
	color: #fff;
	background-color: #2b332d;
	background-size: cover;
	background-repeat: no-repeat;
}
.info-block p,
.info-block li {
	text-shadow: 0 0 8px rgba(0,0,0,.6);
}
.info-block ul {
	list-style: none;
	padding-left: 0;
}
.info-block li {
	line-height: 1.5;
}
.info-block a,
.info-block a:visited {
	color: inherit;
}
.info-block-spacewalk {
	background-image: url({{ "/assets/img/infoblock-astronaut-thumb.png" | url }});
}
.info-block-moon {
	background-image: url({{ "/assets/img/infoblock-moon-thumb.png" | url }});
}
.info-block-spacewalk.load {
	background-image: url({{ "/assets/img/infoblock-astronaut.png" | url }});
}
.info-block-moon.load {
	background-image: url({{ "/assets/img/infoblock-moon.png" | url }});
}

@media (min-width: 768px) {
	.info-block {
		padding: 5em 3.5em;
	}
	.info-block-group {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Group Header */
.group-hed {
	font-size: 3.25rem; /* 52px */
	font-weight: bold;
	border-bottom: 9px solid #2b332d;
	text-transform: uppercase;
}
.group-hed-r {
	text-align: right;
}
@media (min-width: 34.375em) {
	.group-hed {
		font-size: 4.9375rem; /* 79px /16 */
	}
}

/* Venue Image */
.venue {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	margin-bottom: 2rem; /* 32px /16 */
}
.venue-img {
	max-width: 70em;
	display: block;
	width: 100%;
	height: 100%;
}
.venue:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url({{ "/assets/img/space-bg.png" | url }});
	background-color: #2b332d;
	z-index: -1;
}

/* Sponsors */
.sponsors {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px 50px;
	margin: 7em 0 3em;
}
@media (min-width: 500px) {
	.sponsors {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 850px) {
	.sponsors {
		grid-template-columns: repeat(3, 1fr);
	}
}
.sponsors-block {
	border: 3px solid #eee;
	min-width: 200px;
	min-height: 200px;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sponsors-block a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	display: block;
	width: 100%;
	text-align: center;
}
.sponsors-block a,
.sponsors-block a:visited {
	color: #231f20;
}
.sponsors-block img {
	max-width: 100%;
}

/* Global Style Guide */
.sg-c > h1,
.sg-c > h2,
.sg-c > h3 {
	text-transform: uppercase;
}
.sg-c > h2 {
	margin-top: 5em;
	margin-bottom: 1.5em;
	padding-bottom: 4px;
	border-bottom: 1px solid #eee;
}

/* Style Guide Widget */
.sg-c {
	padding-left: .5rem;
	padding-right: .5rem;
}
.sg-c > :not(.sg-component-full) {
	width: 100%;
	max-width: 70rem; /* 1120px /16 */
	margin-left: auto;
	margin-right: auto;
}
.sg-c > .sg-component-full {
	margin-left: -.5rem;
	margin-right: -.5rem;
}
.sg-c-coc p {
	font-size: 1.25em;
}
.sg-component-dark {
	background-color: #222;
}

/* Primary Button */
.btn-primary {
	background: #fff;
	color: #231f20;
	padding: .5em 4vw .45em;
	text-transform: uppercase;
	border: none;
	border-radius: 1.5em;
	font-size: 1.416666666667em; /* 34px /24 */
	display: inline-block;
	margin: .5em auto;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: rgba(255,255,255,.04);
	color: #fff;
}
.btn-primary-light:hover,
.btn-primary-light:focus {
	background-color: rgba(0,0,0,.04);
	color: #231f20;
}
.btn-primary-light {
	border: 2px solid;
}
.btn-primary span {
	display: none;
	font-size: 0.5294117647059em; /* 18px /34 */
	font-weight: 400;
	margin-top: -.25em;
}
@media (min-width: 50em) { /* 800px */
	.btn-primary span {
		display: block;
	}
}
