/* Global */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
footer {
	text-align: center;
}

/* Code */
code {
	font-family: Consolas, Monaco, monospace;
	font-size: 0.875em; /* 14px /16 */
	font-weight: 700;
}

/* Screen readers only */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Web Fonts */
.wf-effra-i9-active body {
	font-family: Effra, sans-serif;
}
.mono {
	font-family: 'PT Mono', monospace;
}
.audiowide {
	font-family: 'Audiowide', cursive;
}

:link {
	color: #222;
}
:visited {
	color: #2b332d;
}

dl {
	margin: 1em 0;
	font-size: 1.25em; /* 20px /16 */
}
dt {
	font-weight: 700;
	text-transform: uppercase;
}
dd {
	margin: 0 0 1em;
	max-width: 45em;
}
dd :first-child {
	margin-top: 0;
}

/* Colors */
.yellow {
	background-color: #fcec31;
}
.dark-gray {
	background-color: #2b332d;
}
.dark-gray-b {
	background-color: #231f20;
}

/* Icons */
span.icon {
	display: inline-block;
}
.icon-block {
	display: block;
	text-align: center;
	pointer-events: none;
}
.icon::before {
	content: "";
	display: inline-block;
	min-width: 60px;
	min-height: 60px;
	background-position: 50% 50%;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	pointer-events: all;
}
.icon-moon::before {
	background-image: url({{ "/assets/img/moon.svg" | url }});
}
.icon-telescope::before {
	background-image: url({{ "/assets/img/telescope.svg" | url }});
}
.icon-facebook::before {
	background-image: url({{ "/assets/img/facebook.svg" | url }});
}
.icon-facebook:active::before,
.icon-facebook:hover::before,
.icon-facebook-active::before {
	background-image: url({{ "/assets/img/facebook-active.svg" | url }});
}

.icon-twitter::before {
	background-image: url({{ "/assets/img/twitter.svg" | url }});
}
.icon-twitter:active::before,
.icon-twitter:hover::before,
.icon-twitter-active::before {
	background-image: url({{ "/assets/img/twitter-active.svg" | url }});
}

/* Hero */
.hero {
	display: flex;
	justify-content: flex-start;
	position: relative;
	background-image: url({{ "/assets/img/space-bg.png" | url }});
	background-color: #2b332d;
	margin-bottom: 2rem; /* 32px /16 */
	min-height: 80vh;
}
.hero-sm {
	min-height: 0;
}
.hero-img {
	width: 60%;
	max-width: 34.375rem; /* 550px /16 */
	background-image: url({{ "/assets/img/earth-nobg-crop.png" | url }});
	background-size: cover;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.hero-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	padding: 3.5em 1.5em;
	z-index: 2;
}
.hero-link {
	text-decoration: none;
}
.hero-title-lander {
	width: 100%;
	height: 7em;
}
.hero-title-text {
	text-align: center;
	color: #fff;
	font-size: 5rem; /* 80px /16 */
	margin: 0;
}
.hero-title-text span {
	display: block;
}
.hero-title-text span:first-child {
	font-size: 9.5rem; /* 152px /?? */
	margin-bottom: -0.25em; /* -22px /88 */
}
.hero-title-text span:first-child + span {
	margin-bottom: -0.575em; /* -46px /80 */
}
.hero-title-date {
	font-size: 2rem; /* 32px /16 */
	/* background-color: #fcec31; */
	/* color: #231f20; */
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 6px;
	padding-left: 14px;
	padding-right: 8px;
}
.hero-title-text .hero-title-date {
	display: inline-block;
	margin-bottom: 0;
}
.hero-register {
	text-align: center;
}
@media (max-width: 47.9375em) { /* 767px */
	.hero-title-lander {
		height: 5em;
	}
	.hero-title-text {
		font-size: 3.75rem; /* 60px /16 */
	}
	.hero-title-text span:first-child {
		font-size: 4.25rem; /* 68px /16 */
	}
	.hero-title-year {
		font-size: 1.5rem; /* 24px /16 */
	}
}

/* Hero quote */
.hero-quote-c {
	padding: 6em 0;
	border-top: 2px solid #2b332d;
	border-bottom: 2px solid #2b332d;
	margin-bottom: 2rem; /* 32px /16 */
}
.hero-quote-c-coc {
	border: 0;
}
.hero-quote-c-venue {
  border-bottom: 0;
  margin-bottom: 0;
}
.hero-quote-c-a11y {
  padding-top: 0;
  border-top: 0;
}
.hero-quote {
	position: relative;
	font-size: 1.5rem; /* 24px /16 */
	margin: 0 auto;
	max-width: 33rem; /* 528px /16 */
	min-height: 3em;
	line-height: 1.5;
	padding-left: 2em;
}
.hero-quote > a[href].icon,
.hero-quote::before {
	content: "";
	position: absolute;
	left: 8px;
	bottom: 0;
	margin-right: 1em;
	margin-bottom: 0;
}
.hero-quote > a[href].icon {
	top: 50%;
	transform: translateY(-50%);
}
.hero-quote::before {
	top: 0;
	border-right: 8px solid #643056;
	min-width: 0;
}
.hero-quote h1,
.hero-quote h2,
.hero-quote h3 {
	margin: 0;
	text-transform: uppercase;
}
.hero-quote p {
	margin-top: 0;
}
@media (max-width: 37.4375em) {
	.hero-quote > a[href].icon {
		top: auto;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 150%);
	}
	.hero-quote::before,
	.hero-quote:hover::before,
	.hero-quote:active::before {
		background-image: none;
	}
}
@media (min-width: 37.5em) {
	.hero-quote {
		padding-left: 6.25em; /* 150px /24 */
	}
	.hero-quote::before {
		left: 0;
		top: -10px;
		bottom: -10px;
		width: 3.666666666667em; /* 88px /24 */
		min-height: 3em; /* 72px /24 */
	}
}

/* colored and Highlight Text */
.info-highlight {
	display: inline-block;
	font-size: 1.5rem; /* 24px /16 */
	background-color: #643056;
	color: #fff;
	font-weight: 700;
	padding: 0 0.3333333333333em; /* 8px /24 */
	margin: 0;
	margin-left: -0.3333333333333em; /* -8px /24 */
}
.purple{
	color: #643056;
}
.teal{
	color: #0C3A5C;
}
.blue{
	color: #0C3A5C;
} 
.green{
	color:	#A1C350;
}

.info-highlight-b {
	font-weight: 700;
	text-transform: uppercase;
}
.info-highlight + dl {
	margin: 1em 0;
}

/* Info Block */
.info-block-group {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}
.info-block {
	padding: 5em 8%;
	color: #fff;
	background-color: #2b332d;
	background-size: cover;
	background-repeat: no-repeat;
}
.info-block p,
.info-block li {
	text-shadow: 0 0 8px rgba(0,0,0,.6);
}
.info-block ul {
	list-style: none;
	padding-left: 0;
}
.info-block li {
	line-height: 1.5;
}
.info-block a,
.info-block a:visited {
	color: inherit;
}
.info-block-spacewalk {
	background-image: url({{ "/assets/img/infoblock-astronaut-thumb.png" | url }});
}
.info-block-moon {
	background-image: url({{ "/assets/img/infoblock-moon-thumb.png" | url }});
}
.info-block-spacewalk.load {
	background-image: url({{ "/assets/img/infoblock-astronaut.png" | url }});
}
.info-block-moon.load {
	background-image: url({{ "/assets/img/infoblock-moon.png" | url }});
}

@media (min-width: 768px) {
	.info-block {
		padding: 5em 3.5em;
	}
	.info-block-group {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Group Header */
.group-hed {
	font-size: 3.25rem; /* 52px */
	font-weight: bold;
	border-bottom: 9px solid #2b332d;
	text-transform: uppercase;
}
.group-hed-r {
	text-align: right;
}
@media (min-width: 34.375em) {
	.group-hed {
		font-size: 4.9375rem; /* 79px /16 */
	}
}

/* Venue Image */
.venue {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	margin-bottom: 2rem; /* 32px /16 */
}
.venue-img {
	max-width: 70em;
	display: block;
	width: 100%;
	height: 100%;
}
.venue:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url({{ "/assets/img/space-bg.png" | url }});
	background-color: #2b332d;
	z-index: -1;
}

/* Sponsors */
.sponsors {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px 50px;
	margin: 7em 0 3em;
}
@media (min-width: 500px) {
	.sponsors {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 850px) {
	.sponsors {
		grid-template-columns: repeat(3, 1fr);
	}
}
.sponsors-block {
	min-width: 200px;
	min-height: 250px;
	position: relative;
	box-sizing: border-box;
}
.sponsors-block-cta {
	font-size: 2em;
	text-align: center;
}
.sponsors-block a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	border: 3px solid #eee;
}
.sponsors-block a:hover,
.sponsors-block a:focus {
	border-color: #ddd;
	background-color: #f7f7f7;
}
.sponsors-block a,
.sponsors-block a:visited {
	color: #231f20;
}
.sponsors-block-cta a,
.sponsors-block-cta a:visited {
	color: #777;
	padding-left: .5em;
	padding-right: .5em;
}
.sponsors-block-cta span {
	display: block;
	white-space: nowrap;
}
.sponsors-block img {
	width: 100%;
	max-height: 100%;
}

/* Global Style Guide */
.sg-c > h1,
.sg-c > h2,
.sg-c > h3 {
	text-transform: uppercase;
}
.sg-c > h2 {
	margin-top: 5em;
	margin-bottom: 1.5em;
	padding-bottom: 4px;
	border-bottom: 1px solid #eee;
}

/* Style Guide Widget */
.sg-c {
	padding-left: .5rem;
	padding-right: .5rem;
}
.sg-c > :not(.sg-component-full) {
	width: 100%;
	max-width: 70rem; /* 1120px /16 */
	margin-left: auto;
	margin-right: auto;
}
.sg-c > .sg-component-full {
	margin-left: -.5rem;
	margin-right: -.5rem;
}
.sg-c-coc p {
	font-size: 1.25em;
}
.sg-component-dark {
	background-color: #222;
}

/* Primary Button */
.btn-primary {
	background: #008883;
	color: #fff;
	padding: .5em 4vw .45em;
	text-transform: uppercase;
	border: none;
	border-radius: 1.5em;
	font-size: 1.416666666667em; /* 34px /24 */
	display: inline-block;
	margin: .5em auto;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #A1C350;
	color: #fff;
}
.btn-primary-light:hover,
.btn-primary-light:focus {
	background-color: rgba(0,0,0,.04);
	color: #231f20;
}
.btn-primary-light {
	border: 2px solid;
}
.btn-primary span {
	display: none;
	font-size: 0.5294117647059em; /* 18px /34 */
	font-weight: 400;
	margin-top: -.25em;
}
@media (min-width: 50em) { /* 800px */
	.btn-primary span {
		display: block;
	}
}

/* Speakers */
.speaker {
	display: block;
	border: 2px solid #231f20;
	padding: 3.5em 15%;
	position: relative;
	z-index: 0;
	max-width: 14em;
	margin: 0 auto 8%;
	text-decoration: none;
	transition: filter .6s ease-in-out;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius:15px;
}
.speaker-sm {
	display: inline-block;
	float: left;
	max-width: 10em;
	padding: 6% 10%;
	margin: 0 auto;
	text-align: center;
}
.speaker,
.speaker:visited {
	color: #000;
}
.speaker-active,
.speaker:focus,
.speaker:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.speaker:before,
.speaker:after {
	content: "";
	position: absolute;
	background-color: #fff;
	z-index: -1;
}
.speaker:after {
	transition: width 1s, height .4s;
}
.speaker:before {
	top: -2px;
	right: -2px;
	width: 50%;
	height: 60%;
}
.speaker:after {
	bottom: -2px;
	left: -2px;
	width: 60%;
	height: 2%;
}
.speaker:nth-child(4n+2):before {
	left: -2px;
	right: auto;
	width: 50%;
	height: 2px;
}
.speaker:nth-child(4n+2):after {
	left: auto;
	right: -2px;
	width: 45%;
	height: 90%;
}
.speaker:nth-child(4n+3):before {
	width: calc(100% + 2px);
	height: 30%;
}
.speaker:nth-child(4n+3):after {
	width: calc(100% + 2px);
	height: 3%;
}
.speaker:nth-child(4n+4):before {
	width: 70%;
	height: 2px;
}
.speaker:nth-child(4n+4):after {
	width: 40%;
	height: 70%;
}
.speaker-active.speaker-active,
a[href].speaker.speaker:focus,
a[href].speaker.speaker:hover,
a[href].speaker.speaker:focus,
a[href].speaker.speaker:hover {
	color: #fff;
}
.speaker-active.speaker-active:before,
.speaker-active.speaker-active:after,
a[href].speaker.speaker:focus:before,
a[href].speaker.speaker:hover:before,
a[href].speaker.speaker:focus:after,
a[href].speaker.speaker:hover:after {
	background-color: #231f20;
	background-image: url({{ "/assets/img/space-bg.png" | url }});
	width: 0;
	height: 0;
	border-radius: 13px;
}
.speaker-active.speaker-active:after,
a[href].speaker.speaker:focus:after,
a[href].speaker.speaker:hover:after {
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}
.speaker-img {
	border-radius: 50%;
	width: 100%;
}
.speaker-sm .speaker-img {
	display: block;
	max-width: 80%;
	margin: 0 auto;
}
.speaker-name {
	border-top: 4px solid;
	font-weight: 900;
	padding-top: .5em;
	font-size: 1.625em; /* 26px /16 */
}
.speaker-sm .speaker-name {
	border-top-width: 6px;
	font-size: 1.3125em; /* 21px /16 */
}
.speaker-talk {
	font-weight: 400;
	font-size: 1.125em; /* 18px /16 */
}
.speaker-talk-keynote {
	font-weight: 900;
	font-size: 0.7777777777778em; /* 14px /18 */
	text-transform: uppercase;
	margin-right: .5em;
}

/* Speakers Grid */
.speakers {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 100px 100px;
	margin: 7em 0 3em;
}
@media (min-width: 48em) { /* 768px */
	.speakers {
		grid-template-columns: repeat(2, 1fr);
	}
	.speakers .speaker {
		max-width: none;
	}
	.speakers .speaker:nth-child(2n+1) {
		top: -3vw;
	}
	.speakers .speaker:nth-child(2n) {
		bottom: -3vw;
	}
}
@media (min-width: 64em) { /* 1024px */
	.speakers {
		grid-template-columns: repeat(3, 1fr);
	}
}

.speaker-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em 1em;
	margin-bottom: 10vh;
}
@media (min-width: 34.375em) { /* 550px */
	.speaker-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Speaker Page */
.speakerpage {
	margin-bottom: 10vh;
}
.speakerpage-avatar {
	width: 40%;
	max-width: 25rem; /* 400px /16 */
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
@media (min-width: 48em) { /* 768px */
	.speakerpage-avatar {
		margin: 0 0 3em 3em;
		float: right;
	}
}

/* Schedule */
.schedule {
	position: relative;
	padding-left: 1.5em;
	background-repeat: no-repeat;
	font-size: 0.875em; /* 14px /16 */
}
.schedule:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 2px solid #643056;
}
@media( min-width: 48em) { /* 768px */
	.schedule-a {
		background-image: url({{ "/assets/img/lander-stars.svg" | url }});
		padding-right: 44%;
		background-position: 98% 50%;
		background-size: 36% auto;
	}
	.schedule-b {
		background-image: url({{ "/assets/img/side_CEAT.jpg" | url }});
		padding-left: 59%;
		background-position: 2% 50%;
		background-size: 51% auto;
	}
	.schedule-b:before {
		left: 55%;
	}
}

/* Countdown */
@font-face {
	font-family: sevenseg;
	font-display: block;
	src: url(/assets/fonts/7segfault.ttf) format("truetype");
}

.countdown {
	position: relative;
	display: block;
	text-align: center;
	font-size: 14vw;
	font-family: sevenseg, system-ui, sans-serif;
	font-style: italic;
	padding: .2em 0 0;
	margin: 2rem auto;
	background-color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 1px #bfb324, 1px -1px 1px #bfb324, -1px 1px 1px #bfb324, -1px -1px 1px #bfb324;
	min-height: 12.2vw;
}
.countdown,
.countdown:link,
.countdown:visited {
	color: #fcec31;
}
.countdown .minus {
	font-family: Courier New;
	position: relative;
	top: -.25em;
	left: -12px;
	font-size: 60%;
}

.page-countdown {
	background-color: #000;
	background-image: url(/assets/img/countdown.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	text-align: center;
}
.page-countdown,
.page-countdown :link,
.page-countdown :visited {
	color: #ddd;
}
.page-countdown .hero,
.page-countdown footer {
	display: none;
}
.page-countdown .countdown {
	background-color: rgba(0,0,0,.7);
	border: .5rem solid #000;
	margin-top: 0;
	margin-bottom: 0;
	width: 60%;
}
@media (min-width: 35em) { /* 560px */
	.page-countdown .countdown {
		border-bottom-width: 2.5rem;
	}
	.page-countdown .countdown .hours,
	.page-countdown .countdown .minutes,
	.page-countdown .countdown .seconds {
		padding-bottom: 2.5rem;
	}
	.page-countdown .countdown .hours:before,
	.page-countdown .countdown .minutes:before,
	.page-countdown .countdown .seconds:before {
		position: absolute;
		width: 13.1vw;
		bottom: -2rem;
		font-size: 1.5rem;
		padding: 0;
		background-color: #000;
		color: #fff;
		text-shadow: none;
		text-transform: uppercase;
	}
	.page-countdown .countdown .hours:before {
		content: "Hour";
	}
	.page-countdown .countdown .minutes:before {
		content: "Minute";
	}
	.page-countdown .countdown .seconds:before {
		content: "Second";
	}
}