<div class="hero-quote-c hero-quote-c-a11y">
  <div class="hero-quote icon icon-moon">
    <h3>Accessibility</h3>
    <p>GETConf and The Center for Advanced and Emerging Technology offer the following accessibility features:</p>
    <ul>
      <li>Zero-step entry to the building and the main hall, elevator access to workshops</li>
      <li>Accessible seating positions throughout the main hall and workshop rooms</li>
      <li>Accessible parking</li>
      <li>Gender neutral bathrooms</li>
      <li>Food options for those with food allergies and dietary restrictions</li>
      <li>ASL interpreters available upon request</li>
      <li>Adjacent to Metro Area Transit (MAT) bus line with passes available upon request</li>
      <li>Prearranged on site childcare*</li>
      <li>Lactation/Pumping room for nursing parents</li>
      <li><a target="_blank" href="https://www.surveymonkey.com/r/9237M2D">Scholarship</a> and student prices available</li>
    </ul>
    <h6>*Please note that arrangements must be finalized by March 26, 2019 if you plan to utilize on-site childcare at GETconf.</h6>
    <p>If additional accommodations are required, please reach out directly to <a href="mailto:hello@getconfomaha.com">hello@getconfomaha.com</a> and a member of our Planning Board will be in contact.</p>
  </div>
</div>
