<div class="hero-quote-c hero-quote-c-a11y">
  <div class="hero-quote icon icon-moon">
    <h3>Accessibility</h3>
    <p>The Holland Center offers the following accessibility features:</p>
    <ul>
      <li>Wheelchair-accessible seating positions throughout the hall</li>
      <li>Wheelchair-accessible parking adjacent to the theater</li>
      <li>Wheelchair-accessible and gender-neutral restrooms</li>
      <li>Hearing devices available for checkout in the lobby area</li>
      <li>Food options at the conference and after-party to those with food allergies and dietary restrictions</li>
    </ul>
    <p>If you have any questions or need assistance during the event, please contact a conference organizer or volunteer. 
    More information at <a href="https://www.omahaperformiarts.org/our-venues/accessibility">Holland Performing Arts Accessibility</a></p>
  </div>
</div>