<h2 class="info-highlight info-highlight-b">February 5—April 9</h2>
<p>Open <a href="https://www.papercall.io/nejsconf2018">Call for Proposals (CFP)</a>. 170 Submissions were received!</p>
<h2 class="info-highlight info-highlight-b">April 24</h2>
<p>The Great NEJS CONF Speaker Selection Battle—organizers select the nine speakers!</p>
<h2 class="info-highlight info-highlight-b">May 15</h2>
<p>Web Site and <a href="{{ "/styleguide/" | url }}">Style Guide</a> Launched. Check out the web sites for our previous years: <a href="https://2017.nejsconf.com/">2017</a> • <a href="https://2016.nejsconf.com/">2016</a> (<a href="https://nebraskajs.com/2016/nejsconf-2016/">Recap</a>) • <a href="https://2015.nejsconf.com/">2015</a> (<a href="https://nebraskajs.com/2015/nejsconf-2015/">Recap</a>)</p>
<h2 class="info-highlight info-highlight-b">May 15</h2>
<p><strong>Ground Level</strong> Early Bird Tickets are now available for $150—<a href="https://register.nejsconf.com/">Register for NEJS CONF today</a>!</p>
<h2 class="info-highlight info-highlight-b">June 22</h2>
<p><a href="https://register.nejsconf.com/"><strong>Low Earth Orbit (LEO)</strong> tickets are available for $180.</a></p>
<h2 class="info-highlight info-highlight-b">July 1</h2>
<p><a href="https://register.nejsconf.com/"><strong>Medium Earth Orbit (MEO)</strong> tickets are available for $210.</a></p>
<h2 class="info-highlight info-highlight-b">July 8</h2>
<p><a href="https://register.nejsconf.com/"><strong>High Earth Orbit (HEO)</strong> tickets are available for $240.</a></p>
<h2 class="info-highlight info-highlight-b">July 10</h2>
<p><strong>Decaying Orbit</strong>—Deadline for t-shirts! Tickets purchased after this date are not guaranteed a t-shirt.</p>
<h2 class="info-highlight info-highlight-b">July 27</h2>
<p><strong>NEJS CONF!</strong></p>