<div class="hero hero-sm">
	<div class="hero-img lazy"></div>
	<div class="hero-title">
		<img src="{{ "/assets/img/lander.svg" | url }}" class="hero-title-lander" alt="Lander Module">
		<h1 class="hero-title-text"><span>GET</span> <span>CONF</span> <span class="hero-title-year">2019</span></h1>
{% if config.register_enabled -%}
		<h2 class="hero-register"><a href="https://www.example.com/" class="btn-primary">Register <span>for GET CONF</span></a></h2>
{% endif -%}
	</div>
</div>