<div class="hero">
	<div class="hero-img"></div>
	<div class="hero-title">
		<img src="{{ "/assets/img/lander.svg" | url }}" class="hero-title-lander" alt="Lander Module">
		<h1 class="hero-title-text"><span>NEJS</span> <span>CONF</span> <span class="hero-title-year">2018</span></h1>
{% if config.register_enabled -%}
		<h2 class="hero-register"><a href="https://register.nejsconf.com/" class="btn-primary">Register <span>for NEJS CONF</span></a></h2>
{% endif -%}
	</div>
</div>