<div class="hero{% if herosmall %} hero-sm{% endif %}">
	<div class="hero-title">
		<a href="{{ "/" | url }}" class="hero-link">
			<h1 class="hero-title-text"><span class="mono">GET</span> <span class="audiowide">CONF</span> <span class="hero-title-date">4/26/19</span></h1>
		</a>
{% if config.register_enabled and showregisterbutton -%}
		<h2 class="hero-register"><a target="_blank" href="https://www.eventbrite.com/e/getconf-gender-equity-in-tech-conference-registration-54242894959" class="btn-primary">Register <span>for GETconf</span></a></h2>
{% endif -%}
	</div>
</div>