<div class="hero hero-sm">
	<div class="hero-img lazy"></div>
	<div class="hero-title">
		<h1 class="hero-title-text"><span class="mono">GET</span> <span class="audiowide">CONF</span> <span class="hero-title-date">4/26/19</span></h1>
{% if config.register_enabled -%}
		<h2 class="hero-register"><a href="GETconfOmaha.eventbrite.com" class="btn-primary">Register <span>for GET CONF</span></a></h2>
{% endif -%}
	</div>
</div>