<div class="sponsors">
	
	<div class="sponsors-block"><a target="_blank" href="https://mysterycodesociety.com/"><img src="{{ "/assets/img/sponsors/mcs_logo.png"}}" alt="mystery code society"></div>
	
</div>
	<p> If you are interested in becoming a partner, please contact <a href="mailto:sponsorgetconf@mysterycodesociety.com">sponsorgetconf@mysterycodesociety.com.</a></p>
