<div class="sponsors">
	
	<div class="sponsors-block"><a target="_blank" href="https://mysterycodesociety.com/"><img id="MysteryAdjust" src="{{ "/assets/img/sponsors/mcs_logo.png"}}" alt="mystery code society"></a></div>
	
</div>