<div class="schedule schedule-a">
	<h2 class="info-highlight">April 25</h2>
	<dl class="schedule-list">
		<dt>8:00 PM</dt>
		<dd>Informal pre-party at <a href="https://www.localbeer.co/downtown/">LOCAL Beer, Patio and Kitchen</a>: <a href="https://goo.gl/maps/fXfjsnYi7aG2">902 Dodge St.
		Omaha, NE 68102</a></dd>
	</dl>
	<h2 class="info-highlight">April 26</h2>
	<dl class="schedule-list">
		<dt>8:00 AM</dt>
		<dd>Doors Open, Registration</dd>

		<dt>9:00 AM Welcome</dt>
		<dd>Introductions / Kick-off</dd>

		<dt>9:10AM </dt>
		<dd>Keynote</dd>

		<dt>9:045AM - 11:30AM </dt>
		<dd>Morning Talks</dd>

		<dt>12:00PM - 1:00PM</dt>
		<dd>Lunch (Provided)</dd>

		<dt>1:00PM - 2:50PM</dt>
		<dd>Workshops</dd>

		<dt>3:10PM - 3:40PM</dt>
		<dd>Afternoon Talks</dd>

		<dt>4:00PM </dt>
		<dd>Keynote</dd>
		
		<dt>4:30PM</dt>
		<dd>Closing Remarks</dd>
	</dl>
</div>
