<div class="schedule schedule-a">
	<h2 class="info-highlight">April 25</h2>
	<dl class="schedule-list">
		<dt>8:00 PM</dt>
		<dd>Informal pre-party at <a href="https://www.localbeer.co/downtown/">LOCAL Beer, Patio and Kitchen</a>: <a href="https://goo.gl/maps/fXfjsnYi7aG2">902 Dodge St.
		Omaha, NE 68102</a></dd>
	</dl>
	<h2 class="info-highlight">April 26</h2>
	<dl class="schedule-list">
		<dt>8:00 AM</dt>
		<dd>Doors Open, Registration</dd>

		<dt>9:00 AM Welcome</dt>
		<dd>Introductions / Kick-off</dd>

		<dt>9:10 AM Name Last</dt>
		<dd><a href="/speakers/seldo/">Keynote— ??</a></dd>

		<dt>10:00 AM Name Last</dt>
		<dd><a href="/speakers/carmalou/">Talk Name</a></dd>

		<dt>10:30 AM Name Last</dt>
		<dd>Hallway Track/Break</dd>

		<dt>11:00 AM Name Last</dt>
		<dd><a href="/speakers/karlgroves/">Talk Name</a></dd>

		<dt>11:30 AM Name Last</dt>
		<dd><a href="/speakers/chantastic/">Talk Name</a></dd>

		<dt>11:40 AM</dt>
		<dd>Lunch (Provided) and Networking</dd>
	</dl>
</div>

<div class="schedule schedule-b">
	<dl class="schedule-list">
		<dt>1:30 PM Ben Ilegbodu</dt>
		<dd><a href="/speakers/benmvp/">Let’s Web Dev Like It’s 1999!</a></dd>

		<dt>2:00 PM Andrey Sitnik</dt>
		<dd><a href="/speakers/sitnikcode/">CRDT: Conflict-free Data Types for Collaborative Editing and Offline-First</a></dd>

		<dt>2:30 PM Beth Haubert</dt>
		<dd><a href="/speakers/haubertdashery/">WTF Are Serverless Apps? ¯\_(ツ)_/¯</a></dd>

		<dt>3:00 PM</dt>
		<dd>Hallway Track/Break</dd>

		<dt>3:30 PM Steve Kinney</dt>
		<dd><a href="/speakers/stevekinney/">Actually Understanding Asynchronous JavaScript</a></dd>

		<dt>4:00 PM Clarissa Peterson</dt>
		<dd><a href="/speakers/clarissa/">Keynote—Code is Not Neutral: The Ethics of Web Development</a></dd>

		<dt>4:45 PM</dt>
		<dd>Closing Remarks and Post-Conference Happy Hour</dd>
	</dl>
</div>