
    
<div class="schedule schedule-a">
	<h2 class="info-highlight">April 26</h2>
	<dl class="schedule-list">
		<dt>8:00AM</dt>
		<dd>Doors Open, Registration</dd>

		<dt>9:00AM</dt>
		<dd>Introductions / Kick-off</dd>

		<dt>9:10AM </dt>
		<dd>Keynote</dd>

		<dt>9:45AM - 11:30AM </dt>
		<dd>Morning Talks</dd>

        <dt>11:30AM </dt>
		<dd>Keynote</dd>

		<dt>12:00PM - 1:00PM</dt>
		<dd>Lunch (Provided)</dd>

		<dt>1:00PM - 2:50PM</dt>
		<dd>Workshops & Panel</dd>

		<dt>3:10PM - 3:40PM</dt>
		<dd>Afternoon Talks</dd>

		<dt>4:00PM </dt>
		<dd>Keynote</dd>

		<dt>4:30PM</dt>
		<dd>Closing Remarks</dd>
	</dl>
</div>