<div class="speakers">
{% for speaker in speakers %}
 	{% set speakerPageUrl %}/speakers/{{ speaker.twitter }}/{% endset %}
	<a href="{{ speakerPageUrl | url }}" class="speaker">
		<img src="{{ speaker.avatar_url }}" alt="{{ speaker.name }}" class="speaker-img">
		<h2 class="speaker-name">{{ speaker.name }}</h2>
		<p>{{speaker.company_role}}</p>
		<p class="speaker-talk">{% if speaker.keynote %}<span class="speaker-talk-keynote">Keynote</span> {% endif %}{{ speaker.title }}</p>
	</a>
{% endfor %}
</div>
