<div class="sponsors">

	<div class="sponsors-block"><a target="_blank" href="https://www.unabridgedsoftware.com/"><img src="{{ "/assets/img/sponsors/Unabridged.svg" | url }}" alt="unabridged"></a></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/Conductix-Wampfler_Black.jpg" | url }}" alt="Conductix"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/flywheel.svg"}}" alt="Flywheel"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/ygg.png"}}" alt="You Go Girl"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/tech-omaha-logo.png" | url }}" alt="Tech Omaha"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/8th_light.png" | url }}" alt="8th Light"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/maebean_logo_light.png" | url }}" alt="Maebean"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/TEAM_Software.jpg" | url }}" alt="TEAM Software"></div>

	<div class="sponsors-block"><img src="{{ "/assets/img/sponsors/UP_LEAD.jpg" | url }}" alt="UP LEAD"></div>

</div>

