<div class="sponsors">
	<div class="sponsors-block"><a href="https://www.zillow.com/"><img src="{{ "/assets/img/sponsors/zillow.svg" | url }}" alt="Zillow"></a></div>
	<div class="sponsors-block"><a href="https://agapered.com/"><img src="{{ "/assets/img/sponsors/agape-red.svg" | url }}" alt="Agape Red"></a></div>
	<div class="sponsors-block"><a href="https://getflywheel.com/"><img src="{{ "/assets/img/sponsors/flywheel.svg" | url }}" alt="Flywheel"></a></div>
	<div class="sponsors-block sponsors-block-cta"><a href="mailto:sponsor@nejsconf.com">Sponsor<br> NEJS CONF!</a></div>
</div>