<div class="venue">
	<img src="{{ "/assets/img/holland-thumb.png" | url }}" id="img-venue" alt="Holland Center for Performing Arts" class="venue-img lazy" data-srcset="{{ "/assets/img/holland@640.png" | url }} 640w, {{ "/assets/img/holland@1120.png" | url }} 1120w" sizes="(min-width: 1120px) 1120px">
	<noscript>
		<style>
		#img-venue {
			display: none;
		}
		</style>
		<img src="{{ "/assets/img/holland@640.png" | url }}" alt="Holland Center for Performing Arts" class="venue-img" srcset="{{ "/assets/img/holland@640.png" | url }} 640w, {{ "/assets/img/holland@1120.png" | url }} 1120w" sizes="(min-width: 1120px) 1120px">
	</noscript>
</div>