<div class="hero-quote-c hero-quote-c-venue">
	<div class="hero-quote icon icon-telescope">
		<p>Suzanne and Walter Scott Recital Hall in the <a href="https://omahaperformingarts.org/our-venues/holland">Holland Performing Arts Center</a>.</p>
		<p>1200 Douglas Street, Omaha NE 68102: <a href="https://goo.gl/maps/YbW3Cwn3zGo">Map</a></p>
	</div>
</div>